body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th{
  width:250px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 10vh;
  background-color: blue;
}
nav ul {
  display: flex;
  list-style: none;
}
ul li { 
  margin-right: 50px;
  font-size: 2rem;
}
li a {
  color: white;
  text-decoration: none;
}
li a.active {
  font-size: 1.1em;
}